
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">

      @for (movie of Movies; track movie.id) {
        <div class="col">
          <img [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500/' + movie.poster_path : 'no-image.jpg'" alt="...">
          <div>
            <h5>{{movie.title}}</h5>
            <!-- bottone per aggiungere o rimuovere dai preferiti -->
            @if (isMovieInLocalStorage(movie.id)) {
              <button (click)="selectMovie(movie)">rimuovi dai preferiti</button>
              <button [routerLink]="['dettagli-film/', movie.id]">dettagli</button>
            } @else {
              <button (click)="selectMovie(movie)">aggiungi ai preferiti</button>
            }
          </div>
        </div>
      }
    </div>
  </div>


